.gold {
  color: #fef2a0;
}

.bg-gold {
  background-color: #fef2a0;
}

.border--gold {
  border-color: #fef2a0;
}

.gray {
  color: #4b4a5a;
}

.bg-gray {
  background-color: #4b4a5a;
}

.border--gray {
  border-color: #4b4a5a;
}

.lime {
  color: #a6ed8e;
}

.bg-lime {
  background-color: #a6ed8e;
}

.border--lime {
  border-color: #a6ed8e;
}

.green {
  color: #2ecc40;
}

.bg-green {
  background-color: #2ecc40;
}

.border--green {
  border-color: #2ecc40;
}

.indigo {
  color: #2a2b5f;
}

.bg-indigo {
  background-color: #2a2b5f;
}

.border--indigo {
  border-color: #2a2b5f;
}

.navy {
  color: #073059;
}

.bg-navy {
  background-color: #073059;
}

.border--navy {
  border-color: #073059;
}

.olive {
  color: #5c835a;
}

.bg-olive {
  background-color: #5c835a;
}

.border--olive {
  border-color: #5c835a;
}

.orange {
  color: #ff6a38;
}

.bg-orange {
  background-color: #ff6a38;
}

.border--orange {
  border-color: #ff6a38;
}

.red {
  color: #f64747;
}

.bg-red {
  background-color: #f64747;
}

.border--red {
  border-color: #f64747;
}

.pink {
  color: #f9a1bc;
}

.bg-pink {
  background-color: #f9a1bc;
}

.border--pink {
  border-color: #f9a1bc;
}

.purple {
  color: #61105e;
}

.bg-purple {
  background-color: #61105e;
}

.border--purple {
  border-color: #61105e;
}

.yellow {
  color: #ffdd67;
}

.bg-yellow {
  background-color: #ffdd67;
}

.border--yellow {
  border-color: #ffdd67;
}

.snow {
  color: #f6f6f6;
}

.bg-snow {
  background-color: #f6f6f6;
}

.border--snow {
  border-color: #f6f6f6;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.border--white {
  border-color: #fff;
}

.silver {
  color: #d3d6db;
}

.bg-silver {
  background-color: #d3d6db;
}

.border--silver {
  border-color: #d3d6db;
}

.aqua {
  color: #44d9e6;
}

.bg-aqua {
  background-color: #44d9e6;
}

.border--aqua {
  border-color: #44d9e6;
}

.black {
  color: #222831;
}

.bg-black {
  background-color: #222831;
}

.border--black {
  border-color: #222831;
}

.blue {
  color: #009eeb;
}

.bg-blue {
  background-color: #009eeb;
}

.border--blue {
  border-color: #009eeb;
}

.beige {
  color: #fdffe7;
}

.bg-beige {
  background-color: #fdffe7;
}

.border--beige {
  border-color: #fdffe7;
}

.brown {
  color: #3d262a;
}

.bg-brown {
  background-color: #3d262a;
}

.border--brown {
  border-color: #3d262a;
}

.coral {
  color: #ffb270;
}

.bg-coral {
  background-color: #ffb270;
}

.border--coral {
  border-color: #ffb270;
}

.crimson {
  color: #921224;
}

.bg-crimson {
  background-color: #921224;
}

.border--crimson {
  border-color: #921224;
}

.fuchsia {
  color: #ea2ba2;
}

.bg-fuchsia {
  background-color: #ea2ba2;
}

.border--fuchsia {
  border-color: #ea2ba2;
}
